

body {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
    background-color: #300a24;
    color: #f0f3ec; 
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    background-color: #232122;
    color: #f0f3ec;
    margin: 0px;
    padding: 15px;
    width: 100%;
}

.headerText {
    margin-right: 5px;
}

.header button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: #353837;
    border: 0px;
    color: ;
    margin-right: 17px;
    color: #f0f3ec; 
    
}

nav {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin-right: 0px;
}

.roundButtons button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: #353837;
    border: 0px;
    color: #f0f3ec; 
    margin-right: 15px;
}

.squareButtons button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: #353837;
    border: 0px;
    color: ;
    margin-right: 17px;
    color: #f0f3ec;  
}
pre {
    
    color: #f0f3ec;
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 0px;
}

h5 {
    margin: 0px;
    margin-bottom: 20px;
}

.gameDiv {
    display: flex;

    
    margin: 25px;
    gap: 25px;
    border-style: dashed;
    border-color: #f0f3ec;
    padding: 25px;
    min-width: 225px;
   
}

.player {
display: flex;
flex-direction: column;
}

#playerChoiceText, #playerScoreText {
    display: flex;
    justify-content: center;
    color: #279c62;
    margin: 10px;
} 

.computer {
    display: flex;
    flex-direction: column;   
}

#computerChoiceText, #computerScoreText {
    display: flex;
    justify-content: center;
    color: #279c62;
    margin: 10px;
}

.gameText {
   
}

.roundResultText {
   margin-bottom: 20px;
   
   
}

.finalResultText {
    
}

#rockBtn, #paperBtn, #scissorsBtn {
    background: none;
    border: 0px;
    font-family: 'Press Start 2P', cursive;
    color: #f0f3ec;
}

.ropapsiMessage {
    display: flex;
    margin-top: 25px;
    
}