body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
}

.gameDiv {
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 25px;
    border-style: outset;
    padding: 25px;
    min-width: 225px;
   
}

.gameText {
   
}

.roundResultText {
   margin-bottom: 20px;
   
}

.finalResultText {
    
}

.buttons {
    display: flex;
}

.ropapsiMessage {
    display: flex;
    margin-top: 25px;
}